body {
  margin: 0;
  padding: 0;
  font-family: "Fira Sans", monospace;
}
body a {
  color: #6200ea;
}

main {
  padding: 0 5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* overwrite materialize-css that makes header tags really big */
  font-weight: 700;
  padding: 10px 0;
  margin: 0;
}

.landing {
  width: 500px;
  margin: 0 auto;
}
@media only screen and (max-width: 600px) {
  .landing {
    width: 300px;
  }
}

.messages {
  display: flex;
  flex-direction: row;
  text-align: center;
  height: 80vh;
  overflow: auto;
}
.messages-title {
  border-bottom: 1px solid rgba(102, 102, 102, 0.3);
}
.messages-left {
  flex-basis: 30%;
  max-width: 30%;
  border: 1px solid rgba(102, 102, 102, 0.3);
  display: flex;
  flex-flow: column;
}
.messages-left .input-field {
  width: 80%;
  margin: 0 auto;
  margin-top: 10px;
  padding-right: 10px;
}
.messages-left .input-field input {
  border: 1px solid rgba(102, 102, 102, 0.3);
  border-radius: 10px;
  padding-left: 10px;
}
.messages-left .input-field input::placeholder {
  color: gray;
}
.messages-left .messages-boxes {
  overflow: auto;
}
.messages-left .messages-box-wrapper {
  padding: 7px;
}
.messages-left .selected {
  background-color: rgba(0, 0, 0, 0.1);
}
.messages-left .messages-box {
  display: flex;
  height: 50px;
  cursor: pointer;
}
.messages-left .messages-box-img {
  height: 100%;
}
.messages-left .messages-box-img img {
  height: 100%;
}
.messages-left .messages-box-text {
  text-align: left;
  padding-left: 10px;
  /* put a '...' if the text overflows */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.messages-left .messages-box-text-name {
  font-weight: bold;
  font-size: 15px;
}
.messages-left .messages-box-text-preview {
  text-overflow: ellipsis;
  opacity: 0.6;
}
.messages-main {
  flex-basis: 50%;
  max-width: 50%;
  border: 1px solid rgba(102, 102, 102, 0.3);
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
.messages-main a {
  color: #000;
}
.messages-main a:hover {
  text-decoration: underline;
}
.messages-main .input-field {
  padding-right: 10px;
}
.messages-main .input-field input {
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  padding-left: 10px;
  margin-bottom: 0;
}
.messages-main .input-field input::placeholder {
  color: gray;
}
.messages-main .messages-selected {
  padding: 0 10px;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
}
.messages-main .messages-selected div[class^="messages-message"] {
  padding: 5px 10px;
  margin: 5px 0;
  border-radius: 20px;
  display: table;
}
.messages-main .messages-selected .messages-message-right {
  margin-left: auto !important;
  background-color: #6200ea;
  color: white;
}
.messages-main .messages-selected .messages-message-left {
  margin-right: auto !important;
  background-color: #f1f0f0;
}
.messages-right {
  flex-basis: 20%;
  max-width: 20%;
  border: 1px solid rgba(102, 102, 102, 0.3);
  display: flex;
  flex-flow: column;
}
.messages-right .messages-detail {
  padding: 10px 0;
}
.messages-right .messages-detail-label {
  font-weight: bold;
  display: block;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}
.cards .card_container {
  flex-basis: 50%;
}
@media only screen and (max-width: 900px) {
  .cards .card_container {
    flex-basis: 100%;
  }
}

.btn {
  color: white;
  height: 40px;
  border-width: 0;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  padding: 0 20px 0 20px;
  cursor: pointer;
  margin-bottom: 10px;
}
.btn i {
  vertical-align: middle;
}
.btn-primary {
  background-color: #7c4dff;
}
.btn-secondary {
  background-color: #6200ea;
}

.footer {
  position: fixed;
  bottom: 0;
}
.footer #car {
  width: 100%;
}

.header {
  height: 50px;
  margin-bottom: 20px;
}
.header #logo {
  width: 150px;
  padding: 20px 0 0 40px;
}
.header .tab {
  padding: 20px 40px 0 0;
  float: right;
}
.header .tab a {
  text-decoration: none;
  color: black;
  font-weight: 700;
}

.search {
  margin: 0 auto;
  text-align: left;
  width: 600px;
}
@media only screen and (max-width: 600px) {
  .search {
    width: 300px;
  }
}
.search .button {
  text-align: right;
}
.search .input-field {
  margin-top: 0;
  padding-left: 20px;
  width: 100%;
}
.search .input-field input::placeholder {
  color: gray;
}

.input {
  padding: 15px 0;
  display: flex;
  /* Custom CSS for React Select Component */
}
.input label {
  color: #bbb;
  font-size: 12px;
}
.input .field {
  width: 100%;
  padding-left: 20px;
}
.input i {
  vertical-align: middle;
  font-size: 2rem;
  line-height: 2em;
}
.input .Select-placeholder,
.input .Select-input,
.input .Select-value {
  color: black;
  font-size: 15px;
  padding-left: 0 !important;
  line-height: 40px !important;
}
.input .Select-placeholder input,
.input .Select-input input,
.input .Select-value input {
  padding: 0;
}
.input .Select-control {
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
}
.input .Select.is-focused:not(.is-open) > .Select-control {
  box-shadow: none;
  border-color: #aaa;
}
.input .Select-menu > div {
  color: #26a69a;
}
