.messages {
	display: flex;
	flex-direction: row;
	text-align: center;
	height: 80vh;
  overflow: auto;

	&-title {
		border-bottom: 1px solid rgba(102,102,102,0.3);
	}

	&-left {
		flex-basis: 30%;
		max-width: 30%;
		@media only screen and (max-width: 600px) {
			flex-basis: 100%;
			max-width: 100%;
		}

		border: 1px solid rgba(102,102,102,0.3);
		display: flex;
		flex-flow: column;

		.input-field {
			width: 80%;
			margin: 0 auto;
			margin-top: 10px;
			padding-right: 10px;

			input {
				border: 1px solid rgba(102,102,102,0.3);
				border-radius: 10px;
				padding-left: 10px;
			}
			input::placeholder {
				color: gray;
			}
		}

		.messages-boxes {
			overflow: auto;
		}
		.messages-box-wrapper {
			padding: 7px;
		}
		.selected {
			@media only screen and (min-width: 600px) {
				background-color: rgba(0, 0, 0, .1);
			}
		}
		.messages-box {
			display: flex;
			height: 50px;
			cursor: pointer;

			&-img {
				height: 100%;

				img {
					height: 100%;
				}
			}

			&-text {
				text-align: left;
				padding-left: 10px;

				/* put a '...' if the text overflows */
				white-space: nowrap;
		    overflow: hidden;
		    text-overflow: ellipsis;

				&-name {
					font-weight: bold;
					font-size: 15px;
				}

				&-preview {
					text-overflow: ellipsis;
					opacity: 0.6;
				}
			}
		}
	}

	&-top {
		position: relative;

		.back, .next {
			position: absolute;
			top: 0;

			@media only screen and (min-width: 600px) {
				display: none;
			}
		}
		.back { left: 0; }
		.next { right: 0; }

		i {
			vertical-align: middle;
			line-height: 2em;
			// color: #6200EA;
		}

		a {
			text-decoration: underline;
		}
	}

	&-main {
		flex-basis: 50%;
		max-width: 50%;
		border: 1px solid rgba(102,102,102,0.3);
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;

		@media only screen and (max-width: 600px) {
			flex-basis: 100%;
			max-width: 100%;
		}

		.input-field {
			padding-right: 10px;

			input {
				border-top: 1px solid rgba(0,0,0,0.5);
				padding-left: 10px;
				margin-bottom: 0;
			}
			input::placeholder {
				color: gray;
			}
		}

		.messages-selected {
			padding: 0 10px;
			overflow: auto;
			display: flex;
			flex-direction: column-reverse;
			clear:both;

			.loading {
				text-align: center;
				visibility: hidden;

				.show {
					visibility: visible;
				}
			}

			div[class^="messages-message"] {
				padding: 5px 10px;
				margin: 5px 0;
				border-radius: 20px;
				display: table;
			}
			.messages-message-right {
				margin-left: auto !important;
				// background-color: #7c4dff;
				background-color: #6200EA;
				color: white;
			}
			.messages-message-left {
				margin-right: auto !important;
				background-color: #f1f0f0;
			}
		}
	}

	&-right {
		flex-basis: 20%;
		max-width: 20%;
		border: 1px solid rgba(102,102,102,0.3);
		display: flex;
		flex-flow: column;
		@media only screen and (max-width: 600px) {
			flex-basis: 100%;
			max-width: 100%;
		}

		.messages-detail {
			padding: 10px 0;

			&-label {
				font-weight: bold;
				display: block;
			}
		}
	}

	&-hidden {
		@media only screen and (max-width: 600px) {
			display: none;
		}
	}
}
