.modal {
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  display: flex;
  justify-content: center;
  align-items: center;

  .card {
    height: auto;
    margin-top: 2em;
    margin-bottom: 2em;

    .close-button {
      float: right;
    }

    .body {
      overflow: auto;
    }
  }

  &.scrollbox {
    .card {
      .body {
        height: 90vh;
      }
    }
  }
}
