.header {
  height: 50px;
  margin-bottom: 20px;

  #logo {
	  width: 150px;
	  padding: 20px 0 0 40px;
	}

	.tab {
	  padding: 20px 40px 0 0;
	  float: right;

	  a {
		  text-decoration: none;
		  color: black;
		  font-weight: 700;
		}
	}
}
