.search {
	margin: 0 auto;
	text-align: left;
	width: 600px;

	@media only screen and (max-width: 600px) {
	   width: 300px;
	}

	.button {
		text-align: right;
	}

	.input-field {
		margin-top: 0;
		padding-left: 20px;
		width: 100%;

		input::placeholder {
			color: gray;
		}
	}
}
