body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.btn {
  color: white;
  height: 40px;
  border-width: 0;
  text-transform: uppercase;
  font-size: 9px;
  font-weight: 600;
  padding: 0 15px 0 15px;
}
.btn-primary {
  background-color: #7c4dff;
}
.btn-secondary {
  background-color: #6200ea;
}

.footer {
  position: fixed;
  bottom: 0;
}
.footer #car {
  width: 100%;
}

.header {
  height: 50px;
}
.header #logo {
  width: 100px;
  padding: 20px 0 0 40px;
}
.header #login {
  padding: 20px 40px 0 0;
  float: right;
}
.header #login a {
  text-decoration: none;
  color: black;
  font-weight: 700;
}

.landing {
  width: 500px;
  margin: 0 auto;
  padding-top: 10%;
}
@media only screen and (max-width: 600px) {
  .landing {
    width: 300px;
  }
}
